{% load static %}

{% block content %}

{% for photo in items %}

    <figure data-type="Item" id="item-LzLjGx1qKDCpWFxJ" data-id="LzLjGx1qKDCpWFxJ" class="Item fade-in">
        <a href="{% url 'photo_detail' photo.id %}" class="imgWrapper" target="" id="imgWrapper-LzLjGx1qKDCpWFxJ" style="height: 39.111111111111114vw;">
            <span class="playIcon ficon-playback-play"></span>
            <!----><img class="lazy-img" id="img-LzLjGx1qKDCpWFxJ" height="4016" width="6016"  src="{{ photo.image.url }}" lazy="loaded"></a><!----><!----><!---->
    </figure>

{% endfor %}
</div>
{% if items.has_previous %}
    <h1 class="Header pbEdit" >
        <a href="{% url 'photo'  %}?page={{items.previous_page_number}}">Предыдущая страница</a></h1>
{% endif %}
{% if items.has_next %}
    <h1 class="Header pbEdit" >
        <a href="{% url 'photo'  %}?page={{items.next_page_number}}">Следующая страница</a></h1>
{% endif %}
{% endblock content %}
