{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'pb4.out.front.ver.1674476800806.css' %}">

{% for video in items %}

    <figure data-type="Item" id="item-LzLjGx1qKDCpWFxJ" data-id="LzLjGx1qKDCpWFxJ" class="Item fade-in">
        <span  class="imgWrapper" target="" id="imgWrapper-LzLjGx1qKDCpWFxJ" style="height: 39.111111111111114vw;">
            <span class="playIcon ficon-playback-play"></span>
            <video controls autoplay preload="auto" volume="-300">
                <source src="{{ video.video.url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </span><!----><!----><!---->
    </figure>

{% endfor %}
</div>
{% if items.has_previous %}
    <h1 class="Header pbEdit" >
        <a href="{% url 'video'  %}?page={{items.previous_page_number}}">Предыдущая страница</a></h1>
{% endif %}
{% if items.has_next %}
    <h1 class="Header pbEdit" >
        <a href="{% url 'video'  %}?page={{items.next_page_number}}">Следующая страница</a></h1>
{% endif %}
{% endblock content %}
