


<iframe name="__privateStripeMetricsController9080" frameborder="0" allowtransparency="true" scrolling="no" role="presentation" allow="payment *" src="https://js.stripe.com/v3/m-outer-93afeeb17bc37e711759584dbfc50d47.html#url=https%3A%2F%2Fchenyian.pb.photography%2F&amp;title=HOME%20-%20chenyian%20photography&amp;referrer=&amp;muid=abd04f17-83f2-4516-a173-0292b35e88d84d3e4c&amp;sid=f22344f6-0550-4b36-b862-de9aceec40649e9249&amp;version=6&amp;preview=false" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important;"></iframe></body></html>




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />


    <link href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,700italic,
    400,300,600,700,800&amp;display=swap" rel="stylesheet" />

    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="row">
             <div class="col"><img data-bss-hover-animate="pulse" src="{{photo.image.url}}" style="max-width: 100%;"></div>
             <div class="col"><img data-bss-hover-animate="pulse" src="{{photo.image.url}}" style="max-width: 100%;"></div>
             <div class="col"><img data-bss-hover-animate="pulse" src="{{photo.image.url}}" style="max-width: 100%;"></div>
        </div>
    </div>
    <script> src="static/assets/bootstrap/js/bootsrtap.min.js"</script>
    <script> src="static/assets/js/bs-init.js"</script>
    <script> src="static/assets/js/bold-and-dark.js"</script>

</body>
