{% extends 'default.html' %}
{% load custom_tags %}

{% block content %}
        <div class="routerViewWrapper">

    <figure data-type="Item" id="item-LzLjGx1qKDCpWFxJ" data-id="LzLjGx1qKDCpWFxJ" class="Item fade-in">
            <!----><img  style="width:550px; display: block;margin-left: auto;margin-right: auto;"  src="{{ photo.image.url }}" lazy="loaded">
    </figure></div><!----><!----><!---->
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<img  style="width:550px; position: absolute; left: 450px;"  src="{{ photo.image.url }}" lazy="loaded"></head>

<body>

</body>
</html>
