{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}



<html id="htmlID" lang="en">
    <meta charset="UTF-8">
        <div class="routerViewWrapper">
            <div class="sectionWrapper mainContentMenuAdjusted inViewPoint">
                <section id="KODsd450sZrZfql2" data-bgimg="" data-type="Section" class="Section pbEdit" style="padding: 15vh 5vw;">
                    <div data-elements-position="top" class="pbElements pbSortable">
                        <h1 data-type="Header" id="McFxeDpkkc4BsZPE" class="Header pbEdit" style="margin-bottom: 0.7em; max-width: 1200px;">ВИДЕО</h1></div>
                            <div data-type="LinkPage" id="MQZZmn0YKPUGwWYX" class="Gallery pbEdit sameRatio portraits bottom1 zoom-small" style="margin-top: 4em; margin-bottom: 4em; row-gap: 1vw; column-gap: 1vw; grid-template-columns: repeat(4, 1fr);">
                        {% get_video %}


                                           {% endblock content %}
